
.Teat1 {
    /* colorname */
    background-color: red;
    /* Red blue Green  alpha Channel*/
    background-color: rgb(0, 0, 0 / 50%);
    /* Hexa decimal */
    background-color: #FF0000;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAO4x-db5CZjc9KczAeKNNlWRm026t9tePdEbGw585&s");
    /* repeat the picture */
    background-repeat: repeat;
    /*no-repeat the picture */
    background-repeat: no-repeat;
    /*repeat in the height or width of the picture */
    background-repeat: repeat-x;
    /* this background willnot be fixed */
    background-attachment: scroll;
    /* this background will be fixed */
    background-attachment: fixed;
    /* postion of the background */
    background-position: left top right bottom center;
    background-position: 100px 200px;
    background-position: 50% 50%;
    /* Size of the background */
    background-size: cover;
    /*cover the content maybe cut some content*/
    background-size: contain;
    /*cover the content with no cut */
    background-size: 100px 200px;
    /*width and height difined the size by pixel*/
    background-size: 100% 100%;
    /*difined the size by percentage*/
    background-color: aliceblue;
    /*back_color*/
    /* none of the objects */
    display: none;
    /* none the object but its space remain */
    visibility: hidden;
    /* the min size you want the object to be  */
    min-width: 100px;
    min-height: 100px;
    /* the max size you want the object to be */
    max-width: 100px;
    max-height: 100px;
    /* to fit the content  */
    width: fit-content;
    /* to hide the extra content  */
    overflow: hidden;
    /* to visible the extra content  */
    overflow: visible;
    /*defualt */
    /* to visible the extra content but in scroll */
    overflow: scroll;
    /* scroll appear just if the content overflow  */
    overflow: auto;
    /* text-shadow: H-shadow V-shadow blur color  */
    text-shadow: 0 0 0 red;
    /* to centered the text  */
    text-align: center;
    /* the text from right to left  */
    direction: rtl;
    /* the text from left to right  */
    direction: lrt;
    /* to make another object in the same line  */
    vertical-align: middle;
    /* decorate the text  */
    text-decoration: line-through;
    /* change what you want in the text  */
    text-transform: capitalize;
    /* space beatween letters */
    letter-spacing: 2px;
    /* the indentaion  */
    text-indent: 10px;
    /* the distance between lines  */
    line-height: 1.6;
    /* space between words  */
    word-spacing: 1px;
    white-space: normal;
    white-space: nowrap;
    word-break: break-all;
    /* like overflow but this for text only to tell the user there is an overflow */
    text-overflow: ellipsis;
    /* serif mean with edges sans serif mean without edges  */
    font-family: 'Courier New', Courier, monospace;
    /* to bring the fonts go to fonts.google.com  */
    /* anothe wway to import the font family  */
    /* @font-face {
        font-family: "face";
        src: url("myfont.woff");
    } */
    /* to make style for the text  */
    font-style: italic;
     /* capital the letters  */
    font-variant: small-caps;
    /* to make it bold or remove the bold */
    font-weight: 500;
    /* to make the user know that is bottom is clicker and there are others features */
    cursor: pointer;
}

/* Block
   -Take Full width If No Width
   -Add line Break
   -Respect Padding, Margin, Width, Height
Inline
   -Respect Padding, Margin Just left and right
   -Don't Add line Break
   -Don't Respect Width, Height
Inline-Block
   -Allow Elements Before and after it
   -Respect Padding, Margin, Width, Height
*/
/* 
.one,
.two,
.three,
.four{
use to grouping some elements with same characteristics
}
 */
/* nesting like div p {

 } 
 */
/* 
CSS Units
   px
   em => Time inheirt the size from to the father
   rem => root time inhirt the size from the html
   vw => View Port Width take size acorrding the width of the page
   percentage => take the size in percentage from the father

Read 
    vmin
    vh

    1em = 16px is wrong
    default Font Size For Web Page Is 16px
*/