.header {
    background-color: orange;
    background-image: url("https://www.shutterstock.com/image-vector/vector-illustration-neon-future-game-600w-1861318969.jpg");
    b
    border: blue solid 2px;
}
/* .header *{
    border: black solid 1px;
} */
.header .header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    margin-bottom: -35px;
}
.header .header-top hgroup {
    margin-left: 3vw;
    color: blue;
}
.search input:hover {

    width: 30vw;
}
.search input {
    border-radius: 10px;
    border: hidden;
    background-color: rgb(255, 255, 255);
    width: 20vw;
    transition: width 0.5s;
}
.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 3vw;
}
.logo {
    width: 80px;
}
nav{
    background-color: black;
    display: flex;
    flex-direction: row;
}
.p_nav{
    color: gray;
    border-radius: 10px;
    padding-right: 20px;
    margin: 10px 20px 10px ;
    transition: transform 0.5s;
}
.p_nav:hover{
    color: white;
    transform:translate(10px);
}
.container{
    width: auto;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
nav a{
    padding: top -10px;

    text-decoration: none;

}
.a-dwonload{
    margin-top: 30px;
    color: black;
    text-decoration: none;
    background-color: rgb(0, 162, 255);
    border:3px solid rgba(0, 0, 0, 0.178);
    text-align: center;
    border-radius: 8px;
    padding: 4px;
    
}
.a-dwonload:hover{
    color: black;
    text-decoration: none;
    background-color: rgba(235, 235, 235, 0.781);
    border:3px solid rgba(0, 0, 0, 0.178);
    text-align: center;
    border-radius: 8px;
    padding: 4px;
    
}
.card{
    border: 10px solid gray;
    background-color: rgba(0, 0, 0, 0.349);
}
.card-body{
    color: white;
}