.header {
    border: black solid 3px;
    background-color: lightgray;
}
.header .header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header .header-top hgroup {
    margin-left: 3vw;
}
.search input:hover {
    width: 30vw;
}
.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.logo {
    margin-left:200 ;
    width: 100px;
}
nav{
    background-color: black;
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-right: 80px;


}
.p_nav{
    border-radius: 10px;
    padding-right: 75px;
    margin: 30px 0 30px ;
}
.p_nav:hover{
    font-size: 20px;
    padding-right: 50px;
    margin: 30px 0 30px ;
}
.container{
    width: auto;
    gap: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
nav a{
    text-decoration: none;
}
.a-dwonload{
    color: black;
    text-decoration: none;
    background-color: rgb(0, 162, 255);
    border:3px solid rgba(0, 0, 0, 0.178);
    text-align: center;
    border-radius: 8px;
    padding: 4px;
    
}
.a-dwonload:hover{
    color: black;
    text-decoration: none;
    background-color: rgba(235, 235, 235, 0.781);
    border:3px solid rgba(0, 0, 0, 0.178);
    text-align: center;
    border-radius: 8px;
    padding: 4px;
    
}