body {
    padding: 20px;
    font-size: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 14px;
  }
  
  input {
    margin: 0 auto;
    max-width: 300px;
    border: solid 2px #ccc;
    padding: 12px;
  }
  
  button {
    display: block;
    margin: 20px auto;
  }
  
  .ow {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }