body{
    background-image: url(https://t3.ftcdn.net/jpg/02/27/21/56/360_F_227215665_8HbqJ2T9djgJU4mkLJJEmesp5XYhlUTk.jpg);
    background-size: 4000px;
}
.container{
    margin: auto;
    width: 900px;
    overflow: hidden;
}
header,.logo,.sidebar{
    height: 60px;
    font-family: sans-serif;
    cursor: pointer;
    color: white;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
.logo .first-word{
    margin-right: 10px;
}
.logo .second-word{
    color:brown;
}
.sidebar a{
    color: white;
    text-decoration: none;
}
.sidebar div{
    display: flex;
    align-items: center;
    
    
    margin-left: 15px;
}
.sidebar div:hover{
    color: rgb(233, 233, 233);
    border-bottom: 1px solid white;
    text-shadow: 1px 1px 5px white;
    padding: 20px 0;
}

.option{
    background-color: gray;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 90px;
}
.option:hover{
    background-color: brown;
}

.all-body{
    width: 40%;
}
@media (max-width:480px){
    .all-body{
        width: 100%;
    }
}
@media (min-width:480px){
    .all-body{
        width: 100%;
    }
}

@media (min-width:767px){
    .all-body{
        width: 70%;
    }
}

h1{
    color: white;
    font-size: 70px;
    text-align: center;
    font-family: sans-serif;
}