:root{
    --space-margin-bottom:10px;
}
header{
    display: flex;
justify-content: center;
align-items: center;
}
img{
    width: 250px;
    border-radius: 50%;
}
section{
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 400px;
position: relative;
}
section .container  a{
    align-items: flex-end;
    display: flex;
    text-decoration: none;
    font-size: 30px;
}
section .container .instagram{
    display: flex;
}
.ins{
    display: flex;
    align-items: center;
    width: 0px;
    overflow-x: hidden;
    transition: 0.3s;
}
section .container  .instagram .text-ins{
    color: rgb(238, 0, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin-left:10px ;text-shadow: 2px 2px 2px  black;
}
.container{
    width: 200px;
    display: flex;
    justify-content: center;
}
.instagram{
    border-radius: 4px;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.instagram:hover{
    background-image: url(https://img.freepik.com/premium-photo/3d-rendering-bunch-instagram-square-badges-colorful-background_284880-347.jpg?w=360);
    background-size: cover;
}
.fa-instagram{
    font-size: 45px;
    height: 40px;
    margin-top: -3px;
    margin-bottom: var(--space-margin-bottom);
    border-radius: 16px;
    background-color: white;
    box-shadow: 1px 1px 50px 50px white;
}
.instagram:hover .ins{
    display: flex;
    align-items: center;
    width: 150px;

}
/* ins finsh */
section .container .youtube{
    display: flex;
}
.you{
    display: flex;
    align-items: center;
    width: 0px;
    overflow-x: hidden;
    transition: 0.3s;
}
section .container  .youtube .text-you{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:10px ;
    margin-left:10px ;text-shadow: 2px 2px 2px  black;
}
.fa-youtube{
    font-size: 45px;
    margin-bottom: var(--space-margin-bottom);
    
}
.youtube:hover .you{
    width: 150px;
}
/* youtube finsh */
section .container .facebook{
    display: flex;
}
.face{
    width: 0px;
    overflow-x: hidden;
    transition: 0.3s;
}
section .container  .facebook .text-face{
    color: rgb(0, 140, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin-left:10px ;
    margin-left:10px ;text-shadow: 2px 2px 2px  black;
}
.fa-facebook{
    font-size: 45px;
    background-color: white;
    margin-bottom: var(--space-margin-bottom);
    box-shadow: 1px 1px 40px 60px white;
}
.facebook{
    border-radius: 4px;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.facebook:hover{
    background-image: url(https://img.freepik.com/premium-photo/3d-rendering-lot-facebook-square-badges-blue_284880-256.jpg);
    background-size: cover;
}
.facebook:hover .face{
    width: 150px
}
/* discord finsh */
section .container .tiktok{
    display: flex;
}
.tik{
    width: 0px;
    overflow-x: hidden;
    transition: 0.3s;
}
section .container  .tiktok .text-tik{
    color: rgb(0, 0, 0);
    margin-left:var(--space-margin-bottom) ;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:10px ;text-shadow: 2px 2px 2px  black;
}
.fa-tiktok{
    font-size: 45px;
    margin-bottom: 10px;
}
.tiktok{
    display: flex;
    align-items: center;
}
.tiktok:hover{

}
.tiktok:hover .tik{
    width: 130px;
}