:root {
    --space-margin-bottom: 10px;
    --sizeicon-font-size: 70px;
}

body {
    height: 800px;
    background-image: url(https://t3.ftcdn.net/jpg/03/89/32/80/360_F_389328016_ak3iUrk15slWfEZdYL96O6eKTUyImDeC.jpg);
    background-size: cover;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    padding-top: 20px;
    width: 250px;
    border-radius: 50%;
}

/* finsh header */
.all {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.342);
    border-radius: 9px;
    width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 800px;
    margin-top:100px ;
}

section {
    position: absolute;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 400px;
    position: relative;
}

section .container a {
    align-items: flex-end;
    display: flex;
    text-decoration: none;
    font-size: 30px;
}

.ins,
.tik,
.face,
.you {
    display: flex;
    align-items: center;
    width: 0px;
    overflow-x: hidden;
    transition: 0.1s;
}

.instagram:hover .ins,
.facebook:hover .face,
.tiktok:hover .tik,
.youtube:hover .you {
    margin-left: 40px;
}



.container {
    width: 300px;
    display: flex;
    justify-content: center;
}

.instagram,
.youtube,
.tiktok,
.facebook {
    width: 150px;
    border-radius: 4px;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.instagram:hover,
.youtube:hover,
.tiktok:hover,
.facebook:hover {
    background-image: url(https://img.freepik.com/premium-photo/3d-rendering-bunch-instagram-square-badges-colorful-background_284880-347.jpg?w=360);
    background-size: cover;
    width: 300px;
}

.fa-instagram,
.fa-youtube,
.fa-tiktok,
.fa-facebook {
    font-size: var(--sizeicon-font-size);
    padding-left: 20px;
}

.instagram:hover .fa-instagram,.youtube:hover .fa-youtube,.tiktok:hover .fa-tiktok,.facebook:hover .fa-facebook {
    background-color: white;
    margin: auto;
    box-shadow: 10px 10px 50px 50px white;
}

.instagram:hover .ins,
.youtube:hover .you,
.tiktok:hover .tik,
.facebook:hover .face {
    display: flex;
    width: 250px;

}
.text-you {
    color: red;
    font-family: 'Anton', sans-serif;
    margin-left: 10px;
    text-shadow: 2px 2px 2px black;
}
.youtube:hover {
    background-image: url(https://as1.ftcdn.net/v2/jpg/04/64/08/64/500_F_464086465_YpTfRqa35wKuisGbH6DhDcCqjnY3FdTr.jpg);
    background-size: cover;
}
.text-face {
    color: rgb(0, 140, 255);
    font-family: 'Anton', sans-serif;
    margin-left: 10px;
    text-shadow: 2px 2px 2px black;
}

.facebook:hover {
    background-image: url(https://img.freepik.com/premium-photo/3d-rendering-lot-facebook-square-badges-blue_284880-256.jpg);
    background-size: cover;
}

.text-tik {
    color: rgb(0, 0, 0);
    margin-left: var(--space-margin-bottom);
    font-family: 'Anton', sans-serif;
    margin-left: 10px;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
}
.text-ins {
    color: rgb(238, 0, 255);
    font-family: 'Anton', sans-serif;
    margin-left: 10px;
    text-shadow: 2px 2px 2px black;
}
.tiktok:hover {
    background-image: url(https://as1.ftcdn.net/v2/jpg/04/63/91/20/500_F_463912062_M1Dp4Ekkz6eNTxiaajLe8H7ZmyxuvPTV.jpg);
    background-size: cover;
}
@media (max-width:480px){
    .all {
        margin: auto;
        background-color: rgba(0, 0, 0, 0.342);
        border-radius: 9px;
        width: 350px;
        height: 700px;
        position: relative;
        margin-top: -100px;
    }
    .instagram,
.youtube,
.tiktok,
.facebook {
    margin-bottom: 10px;
}
}